FILMAFTERGLOW_APP_NAME=FilmAfterglow API
FILMAFTERGLOW_APP_VERSION=0.1.0
FILMAFTERGLOW_DEBUG=false
FILMAFTERGLOW_API_V1_PREFIX=/api/v1
FILMAFTERGLOW_CORS_ORIGINS=["http://localhost:5173"]
FILMAFTERGLOW_MONGODB_URI=mongodb://localhost:27017
FILMAFTERGLOW_MONGODB_DATABASE=filmafterglow
FILMAFTERGLOW_MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
